div.achievement {
	position: absolute;
	z-index: 100;
	right: 2rem;
	top: 2rem;
	height: 4em;
	min-width: 20em;
	bottom: auto;
	padding: .5em;
	background-color: var(--background-secondary-color);
	border-radius: 10px;
	border: 2px solid var(--accent-color);
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	&>img.icon {
		width: 3em;
	}
	&>div.text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-evenly;
	}
	&.disabled {
		display: none !important;
	}
}
