.main-menu {
	position: absolute;
	inset: 0;

	.interface {
		margin: auto;
		padding: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		a {
			color: var(--color)
		}

		button {
			margin-top: .4em
		}
	}
}